<div class="nav-bar-container">
  <div class="nav-content">
    <a routerLink="" class="title-container">
      <div class="logo-section"></div>
      <p class="title">Moviz</p>
    </a>
    @if (navItems && navItems.length > 0) {
    <ul>
      @for (nav of navItems; track $index) {
      <li>
        <a
          [routerLink]="nav.path"
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ nav.name }}
          @if (nav.icon) {
          <i class="{{ nav.icon }}"></i>
          }
        </a>
      </li>
      }
      <li>
        @if (!authService.isAuthenticated()) {
          <a class="nav-link" [routerLink]="['login']" routerLinkActive="active text-primary">Login</a>
          } @if (authService.isAuthenticated()) {
          <div class="navbar-nav ms-auto">
            <span class="navbar-text me-3">{{
              authService.userInfo()?.email
              }}</span>
            <a class="nav-link" (click)="logout()">Logout</a>
          </div>
          }
      </li>
    </ul>
    }
  </div>
</div>
