<div class="navbar-container">
    <div class="nav-content">
        <div class="logo-container">
            <div class="logo-section"></div>
            <span class="title">Moviez</span>
        </div>

        @if(navItems && navItems.length>0){
            <ul>
                @for(nav of navItems; track $index){
                    <li [ngClass]="{'active-item':nav.active}" (click)="selectedItem(nav)">{{nav.name}}</li>
                    @if(nav.icon){
                        <i class="{{nav.icon}}"></i>
                    } 
                }
            </ul>
        }
        
    </div>
    
</div>
