.navbar-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 18px 0px;
    background: rgba(#121829,0.93);

}
.nav-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
.logo-container {
    display: flex; 
    align-items: center;
    gap: 10px;
}
.logo-section{
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/img/logo.png');
}
.title {
    font-size: 18px;
    font-weight: bold;
    font-family:'Poppins', 'Montserrat', sans-serif;
}
ul{
    display: flex;
    column-gap: 29px;
}
li{
    list-style: none;
    color: #5F687D;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 9px;
    cursor: pointer;
}
/* i{
    color:#5F687D;
} */
.active-item{
    color: #5A4AF4;
}