<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <h2>{{ predictionMessage() }}</h2>
    <button (click)="closeModal()" class="btn btn-primary">Go Back And Predict Again</button>
  </div>
</div>

<form (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="text-center">
    <button type="submit" class="button-85">Submit</button>
  </div>

  <!-- Metrics -->
  <div class="mb-3 row">
    <h3>Metrics</h3>
    <div class="form-group col-md-6">
      <label class="form-label">Cumulative Worldwide:</label>
      <input
        type="number"
        [(ngModel)]="formData['cumulative worldwide']"
        name="cumulativeWorldwide"
        class="form-control"
      />
    </div>
    <div class="form-group col-md-6">
      <label class="form-label">Years Since Release:</label>
      <input
        type="number"
        [(ngModel)]="formData['years since release']"
        name="yearsSinceRelease"
        class="form-control"
      />
    </div>
  </div>

  <!-- Ratings  -->
  <div class="row mb-3">
    <h3>Ratings</h3>
    <select [(ngModel)]="formData['rating']" name="rating" class="form-select">
      <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
    </select>
  </div>

  <!-- Genres -->
  <div class="mb-3 row">
    <h3>Genres</h3>
    @for (genre of genres; track genre) {
      <div class="form-check col-md-2">
        <input
          type="checkbox"
          [(ngModel)]="formData[genre]"
          [value]="1"
          name="genre-{{genre}}"
          class="form-check-input"
        />
        <label class="form-check-label">{{ genre }}</label>
      </div>
    }
  </div>

  <!-- Directors -->
  <div class="row mb-3">
    <h3>Directors</h3>
    <select [(ngModel)]="formData['director']" name="director" class="form-select">
      <option *ngFor="let director of directors" [value]="director">{{ director }}</option>
    </select>
  </div>

    <!-- Stars -->
    <div class="row mb-3">
      <h3>Stars</h3>
      @for (star of stars; track star) {
        <div class="form-check col-md-2">
          <input
            type="checkbox"
            [(ngModel)]="formData[star]"
            [value]="1"
            name="star-{{star}}"
            class="form-check-input"
          />
          <label class="form-check-label">{{ star }}</label>
        </div>
      }
    </div>

  <!-- Production Studios -->
  <div class="row mb-3">
    <h3>Production Studios</h3>
    <select [(ngModel)]="formData['studio']" name="studio" class="form-select">
      <option *ngFor="let studio of studios" [value]="studio">{{ studio }}</option>
    </select>
  </div>
</form>
